---
import '../styles/style.css';
---

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-
scale=1.0, width=device-width" />
    <title>Arina Vidman 3153879</title>
    <link rel="stylesheet" href="style1.css">
  </head>
  <body>
<header class="masthead">
    <div id="branding">
<a href="index.html"><h1>Arina Vidman</h1></a>
<h3>3153879</h3>
</div>
    <nav>
      <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="facts.html">Facts</a></li>
            <li><a href="quote.html">Quote</a></li>
        </ul>
    </nav>
</header>

<main class="mainfacts">
<h2>Facts</h2>
<div class="things">
<h3>5 Things About Me</h3>
<ul>
  <li>I was born in a small town in Kazakhstan, but for the last 13 years I have been living in Moscow, Russia.</li>
  <li>I love running in the mornings.</li>
  <li>I have a dog, he is a corgi, his name is Marsell.</li>
  <li>My favourite musician is Eminem.</li>
  <li>My favourite food is french fries.</li>
</ul>
</div>

<div class="films">
<h3>5 Favourite Films</h3>
<ol>
  <li>Inglourious Basterds, <span>Tarantino</span></li>
  <li>Harry Potter and The Half-Blood Price, <span>Yates</span></li>
  <li>Dune 2, <span>Villeneuve</span></li>
  <li>Brat (Brother), <span>Balabanov</span></li>
  <li>Ratatouille, <span>Bird</span></li>
</ol>
</div>

<div class="sites">
<h3>5 Favourite Websites</h3>
<ul>
  <li class="one"><a href="https://www.instagram.com/">Instagram</a></li>
  <li class="two"><a href="https://ru.pinterest.com/homefeed/">Pinterest</a></li>
  <li class="three"><a href="https://www.behance.net/">Behance</a></li>
  <li class="four"><a href="https://www.zara.com/">Zara</a></li>
  <li class="five"><a href="https://open.spotify.com/">Spotify</a></li>
</ul>
</div>
</main>

<footer>
<a href="https://www.griffith.ie">
    <img src="images/griffith-logo1.webp" alt="Griffith Logo">
</a>
<p class="name">Arina Vidman 3153879</p>
</footer>

  </body>
  </html>