<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-
scale=1.0, width=device-width" />
    <title>Arina Vidman 3153879</title>
    <link rel="stylesheet" href="style1.css">
  </head>
  <body>
<header class="masthead">
    <div id="branding">
    <a href="index.html"><h1>Arina Vidman</h1></a>
    <h3>3153879</h3>
</div>
    <nav>
        <ul class="nav">
            <li><a href="index.html">Home</a></li>
            <li><a href="facts.html">Facts</a></li>
            <li><a href="quote.html">Quote</a></li>
        </ul>
    </nav>
</header>

<main class="mainindex">
    <img src="images/personal.JPG" alt="Photo of Arina">
<article>
    <h2>Personal profile</h2>
    <p>Hello! I'm Arina. <br>I'm studying in Griffith College in Dublin, Ireland.<br>On this website you can find more information about me.<br>Have fun!</p>
</article>
</main>

<footer>
    <a href="https://www.griffith.ie">
        <img src="images/griffith-logo1.webp" alt="Griffith Logo">
    </a>
    <p class="name">Arina Vidman 3153879</p>
</footer>

  </body>
  </html>